Train/*
!Train/*.py
!Train/*.csv

Test/*
!Test/*.py
!Test/*.csv

Verify/*
!Verify/*.py
!Verify/*.csv

fakeTrain/*
!fakeTrain/*.py
!fakeTrain/*.csv

TrainLog[s]
TestLog[s]

__pycache__

Model.pth
Models
Temp
*[Ll]og[s]*